 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}

<div class="local_eduvidual admin_licence">
    <div class="fitem row">
        <div class="col-md-12">
            {{#licencesystem_enabled}}
            <a href="{{{disableurl}}}">
                <i class="fa fa-icon fa-toggle-on"></i>
            </a>
            {{/licencesystem_enabled}}
            {{^licencesystem_enabled}}
            <a href="{{{enableurl}}}">
                <i class="fa fa-icon fa-toggle-off"></i>
            </a>
            {{/licencesystem_enabled}}

            {{#str}} admin:licence:active, local_eduvidual {{/str}}
        </div>
    </div>

    <details>
        <summary>
            <i class="fa fa-plus"></i>
            {{#str}} add {{/str}}
        </summary>
        {{{form}}}
    </details>

    <hr />
    <form method="POST" action="{{{pageurl}}}">
        <input type="text" name="filterorgid" value="{{filterorgid}}" placeholder="{{#str}} search {{/str}}" />
        <input type="submit" value="{{#str}} search {{/str}}">
    </form>
    <table class="generaltable">
        <tr>
            <td>#</td>
            <td>{{#str}} admin:licence:orgids, local_eduvidual {{/str}}</td>
            <td>{{#str}} admin:licence:expiry, local_eduvidual {{/str}}</td>
            <td>{{#str}} admin:licence:comment, local_eduvidual {{/str}}</td>
            <td>{{#str}} user {{/str}}</td>
            <td>{{#str}} admin:licence:revoke, local_eduvidual {{/str}}</td>
        </tr>
        {{#licences}}
            <tr {{#timerevoked}}style="background-color: rgba(255,0,0,0.3);"{{/timerevoked}}>
                <td>{{id}}</td>
                <td>{{orgid}}</td>
                <td>{{#userdate}} {{timeexpires}}, %d. %B %Y, %H:%M {{/userdate}} </td>
                <td>{{comment}}</td>
                <td>{{{createdby}}}</td>
                <td>
                    {{#timerevoked}}
                        {{#userdate}} {{timerevoked}}, %d. %B %Y, %H:%M {{/userdate}} <br />
                        {{{revokedby}}}
                    {{/timerevoked}}
                    {{^timerevoked}}
                    <a href="{{{revokeurl}}}">
                        <i class="fa fa-trash"></i>
                    </a>
                    {{/timerevoked}}
                </td>
            </tr>
        {{/licences}}
    </table>

</div>
