{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<h4>{{#str}} admin:phplist:title, local_eduvidual {{/str}}</h4>
<p>{{#str}} admin:phplist:description, local_eduvidual {{/str}}</p>

{{#syncmessages}}
    {{> local_eduvidual/alert }}
{{/syncmessages}}
<div>
    <a href="{{wwwroot}}/local/eduvidual/pages/admin.php?act=phplist&sync=1" class="btn ui-btn btn-primary">{{#str}} admin:phplist:sync, local_eduvidual {{/str}}</a>
</div>
{{#configs}}
    <label for="local_eduvidual_admin_phplist_{{field}}">{{field}}</label>
    <input type="{{type}}" id="local_eduvidual_admin_phplist_{{field}}" style="width: 100%;"
           onchange="var el = this; require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.phpListConfig('{{field}}', el); });" value="{{content}}">
{{/configs}}
