 {{!
    tdis file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under tde terms of tde GNU General Public License as published by
    tde Free Software Foundation, eitder version 3 of tde License, or
    (at your option) any later version.

    Moodle is distributed in tde hope tdat it will be useful,
    but WItdOUT ANY WARRANTY; witdout even tde implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See tde
    GNU General Public License for more details.

    You should have received a copy of tde GNU General Public License
    along witd Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
<div class="local_eduvidual_admin_map" id="{{uniqid}}">
    <h4>{{#str}} admin:map:title, local_eduvidual {{/str}}</h4>
    <div style="float: right;">
        <div style="width: 100px; float: left; text-align: center;">{{#str}} year {{/str}}</div>
        <div style="width: 50px; float: left; text-align: center;">{{#str}} month {{/str}}</div>
        <div style="width: 50px; float: left; text-align: center;">{{#str}} day {{/str}}</div>
        <div style="width: 50px; float: left; text-align: center;">{{#str}} hour {{/str}}</div>
        <div style="width: 50px; float: left; text-align: center;">{{#str}} minute {{/str}}</div>
    </div>
    <div style="clear: both;float: right; margin-bottom: 10px;">
        <div style="width: 100px; float: left;">
            <input id="{{uniqid}}-year" value="{{year}}" type="number" min="2010" style="width: 100%;"
                onchange="require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.org_gps_list('{{uniqid}}'); });">
        </div>
        <div style="width: 50px; float: left;">
            <input id="{{uniqid}}-month" value="{{month}}" type="number" min="0" max="13" style="width: 100%;"
                onchange="require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.org_gps_list('{{uniqid}}'); });">
        </div>
        <div style="width: 50px; float: left;">
            <input id="{{uniqid}}-day" value="{{day}}" type="number" min="0" max="32" style="width: 100%;"
                onchange="require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.org_gps_list('{{uniqid}}'); });">
        </div>
        <div style="width: 50px; float: left;">
            <input id="{{uniqid}}-hour" value="{{hour}}" type="number" min="-1" max="24" style="width: 100%;"
                onchange="require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.org_gps_list('{{uniqid}}'); });">
        </div>
        <div style="width: 50px; float: left;">
            <input id="{{uniqid}}-minute" value="{{minute}}" type="number" min="-1" max="60" style="width: 100%;"
                onchange="require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.org_gps_list('{{uniqid}}'); });">
            <input type="hidden" id="{{uniqid}}-second" value="{{second}}">
        </div>
    </div>

    <div id="{{uniqid}}-map" style="height: 400px; border: 1px solid #AAA; clear: both;"></div>
    <div style="text-align: right; margin-bottom: 10px;">
        <div style="display: inline-block;">
                {{#pix}} google-maps-pin-green, local_eduvidual {{/pix}}
                {{#str}} admin:map:eduv, local_eduvidual {{/str}}
        </div>
        <div style="display: inline-block;">
            {{#pix}} google-maps-pin-orange, local_eduvidual {{/pix}}
            {{#str}} admin:map:both, local_eduvidual {{/str}}
        </div>
        <div style="display: inline-block;" id="{{uniqid}}-legend-none">
            {{#pix}} google-maps-pin-lightgray, local_eduvidual {{/pix}}
            {{#str}} admin:map:none, local_eduvidual {{/str}}
        </div>
    </div>
    <input type="checkbox" id="{{uniqid}}-include-nonegroup"
        onchange="require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.org_gps_list('{{uniqid}}'); });"/>
        <label for="{{uniqid}}-include-nonegroup">{{#str}} admin:map:includenonegroup, local_eduvidual {{/str}}</label>
    <input type="checkbox" id="{{uniqid}}-count-invisibles"
        onchange="require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.org_gps_refresh('{{uniqid}}'); });"/>
    <label for="{{uniqid}}-count-invisibles">{{#str}} admin:map:count_invisibles, local_eduvidual {{/str}}</label>
    <div id="{{uniqid}}-legend" style="height: unset; /*position: absolute; margin-top: 2px; margin-left: 1px; */ z-index: 999;  background-color: rgba(255, 255,255, 0.8); overflow: hidden;">
        <div class="grid-eq-{{filters_count}}">
            {{#filters}}
            <table border="0" class="generaltable {{filterid}}">
                <tfoot>
                    <th width="30">&nbsp;</th>
                    <th class="sum">{{#str}} all {{/str}}</th>
                    <td class="sum" align="right"></td>
                </tfoot>
                <tbody>
                    {{#selections}}
                    <tr>
                        <th>
                            <input type="checkbox" id="{{uniqid}}-trigger-{{key}}" class="trigger" data-trigger-key="{{key}}" data-filterid="{{filterid}}"
                                {{#checked}} checked="checked" {{/checked}}
                                onchange="require(['local_eduvidual/admin'], function(ADMIN) { ADMIN.org_gps_refresh('{{uniqid}}'); });"/>
                            </a>
                        </th>
                        <th class="{{key}}"><label for="{{uniqid}}-trigger-{{key}}">{{{icon}}}{{label}}</label></th>
                        <td class="{{key}}" align="right"></td>
                    </tr>
                    {{/selections}}
                </tbody>
            </table>
            {{/filters}}
        </div>
    </div>
</div>

{{#js}}
require(['local_eduvidual/admin', 'local_eduvidual/leaflet'], function(ADMIN) {
    ADMIN.org_gps("{{uniqid}}");
});
{{/js}}
