 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
</div>
</td>
<td width="50" style="background: #f5f6f9;" valign="middle">
    {{> block_eduvidual/pix_logo_eduvidual }}
</td>
<td class="space" style="padding:3%;width:3%;background: #f5f6f9;">&nbsp;</td>
</tr>
<tr>
<td class="space" style="padding:3%;width:3%;">&nbsp;</td>
<td style="padding:3%;padding-bottom:20px;padding-top:20px;border-bottom:1px dotted #99c05c;" colspan="2"></td>
<td class="space" style="padding:3%;width:3%;">&nbsp;</td>
</tr>
<tr>
<td class="space" style="padding:3%;width:3%;">&nbsp;</td>
<td style="padding:3%;" colspan="2">
<div style="text-align:center;">
<h2 style="font-weight: normal;">Impressum</h2>

<div style="font-size:12px;">
    Das Service- und Entwicklungszentrum f&uuml;r Lernmanagement-Moodle ist eine Einrichtung im Auftrag<br />
    des Bundesministeriums f&uuml;r Bildung, Wissenschaft und Forschung (BMBWF) an der P&auml;dagogischen Hochschule Ober&ouml;sterreich.<br />
    Medieninhaber: Bundesministerium f&uuml;r Bildung, Wissenschaft und Forschung,<br />
    Minoritenplatz 5, 1011 Wien, &Ouml;sterreich.
    <h3 style="font-weight: normal;margin-top: 30px;">Hersteller und Auftraggeber</h3>
    Inhalt: Bundesministerium f&uuml;r Bildung, Wissenschaft und Forschung (BMBWF)<br />
    Verlagsort: Wien<br />
    Herstellungsort: Wien<br />
    <br />
    Bundesministerium f&uuml;r Bildung, Wissenschaft und Forschung (BMBWF)<br />
    Minoritenplatz 5, 1011 Wien<br />
    T +43 1 53120 0<br />
    F +43 1 53120 3099<br />
    <a href="http://www.bmbwf.gv.at" style="font-size:12px;color:#99c05c; text-decoration:underline;">www.bmbwf.gv.at</a><br />
    E-Mail: <a href="mailto:ministerium@bmbwf.gv.at" style="font-size:12px;color:#99c05c; text-decoration:underline;">ministerium@bmbwf.gv.at</a>
    <br />
    <h3 style="font-weight: normal;margin-top: 30px;">Ansprechpartner und Projektabwickler</h3>
    P&auml;dagogische Hochschule Ober&ouml;sterreich<br />
    Service- und Entwicklungszentrum Lernmanagement-Moodle<br />
    Huemerstra&szlig;e 3-5<br />
    4020 Linz<br />
    <a href="mailto:support@lernmanagement.at" style="color:#99c05c; text-decoration:underline;">support@lernmanagement.at</a><br />
    <a href="http://www.lernmanagement.at" style="color:#99c05c; text-decoration:underline;">www.lernmanagement.at</a>
</div>
<br />
&nbsp;<br />
{{> block_eduvidual/pix_logo_bmbwf_phooe_zlm }}<br />
<br />
<br />
&nbsp;</div>
</td>
<td class="space" style="padding:3%;width:3%;">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>
