{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}


<div class="ui-eduvidual local_eduvidual manage_bunch">
    <div class="hide-on-print">{{#str}} manage:profile:clickusername, local_eduvidual {{/str}}</div>
    <div class="hide-on-print grid-eq-2">
        <div>
            <a href="#" onclick="window.print();" class="btn btn-primary btn-block">
                {{#pix}} /t/print, core {{/pix}}
                {{#str}} print, local_eduvidual {{/str}}
            </a>
        </div>
        <div>
            <a href="#" onclick="require(['local_eduvidual/manager'], function(M) { M.exportUserPopup('{{orgid}}', '{{exportuserids}}'); }); return false;" class="btn btn-primary">
                {{#pix}} /i/export, core {{/pix}}
                {{#str}} export, local_eduvidual {{/str}}
            </a>
        </div>
    </div>

    <!-- <div style="width: 100%;"> -->
        {{#format_list}}
        <table class="generaltable">
            <thead>
                <tr>
                    <th>{{#str}} email {{/str}}</th>
                    <th>{{#str}} firstname {{/str}}</th>
                    <th>{{#str}} lastname {{/str}}</th>
                    <th>{{#str}} secret, local_eduvidual {{/str}}</th>
                    <th>{{#str}} role {{/str}}</th>
                </tr>
            </thead>
            <tbody>
        {{/format_list}}

        {{#users}}
            {{#format_cards}}
            <div class="item" style="display: inline-block; background-image: url({{wwwroot}}/{{backgroundcard}})">
                <div class="name">
                    <div class="firstname">{{firstname}}</div>
                    <div class="lastname">{{lastname}}</div>
                </div>
                <div class="username">
                    <a href="#" style="text-decoration: none; color: unset;"
                        onclick="require(['local_eduvidual/manager'], function(M) { M.editProfile({{orgid}}, {{id}}, { run: function() { top.location.reload(); } }); }); return false;">
                        {{displayusername}}
                    </a>
                </div>
                <div class="contact">{{email}}</div>
                <div class="header">{{#str}} Accesscard, local_eduvidual {{/str}}</div>
                <div class="avatar">
                    {{{userpicture}}}
                </div>
                <!--
                <div class="qr">
                    <img src="{{wwwroot}}/local/eduvidual/pix/qr.php?txt={{secret_encoded}}" alt="QR" />
                </div>
            -->
                <div class="secret" style="display: flex; align-items: flex-end; justify-content: flex-end;">
                    <span class="uid">{{id}}</span>
                    <span class="hash">#</span>
                    <span class="tan">{{profile_field_secret}}</span>
                </div>
                <div class="roles">{{role}}</div>
            </div>
            {{#pagebreakafter}}
            <div class="page-break">&nbsp;</div>
            {{/pagebreakafter}}
            {{/format_cards}}
            {{#format_list}}
            <tr>
                <td>
                    <a href="#" style="text-decoration: none; color: unset;"
                        onclick="require(['local_eduvidual/manager'], function(M) { M.editProfile({{orgid}}, {{id}}, { run: function() { top.location.reload(); } }); }); return false;">
                        {{email}}
                    </a>
                </td>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{id}}#{{profile_field_secret}}</td>
                <td>{{role}}</td>
            </tr>
            {{/format_list}}
        {{/users}}
        {{#format_list}}
            </tbody>
        </table>
        {{/format_list}}
    <!-- </div> -->
</div>
