{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="local_eduvidual manage_educloud" id="{{uniqid}}">
    <div style="margin-left: auto; margin-right: auto; text-align: center; width: 80%; max-width: 1000px;">
        <p>
            Bei der eduCloud-Austria handelt es sich um ein Projekt
            von Open Source Open Schools (OSOS), der Digitalen
            Bildungsgesellschaft (DIBIG) sowie dem Zentrum für
            Lernmanagement (ZLM), die die Schaffung einer Cloud-Lösung
            für österreichische Schulen auf Basis von Open Source
            Komponenten bezwecken.
        </p>
        <p>
            Das Projekt wird vom Bundesministerium für Bildung, Wissenschaft
            und Forschung unterstützt und durch eine Förderung des NetIdee-Awards
            finanziert.
        </p>
        <p>
            Interessierte Schulen können an dem Projekt teilnehmen, die Aktivierung
            für eine Schule erfolgt auf dieser Seite in eduvidual.at durch das
            Zentrum für Lernmanagement. Mehr Informationen zur Teilnahme finden Sie
            auf der Homepage der
            <a href="https://www.educloud.at" target="_blank">
                eduCloud Austria
            </a>
        </p>
    </div>
    <div style="text-align: center;">
        <img src="{{{wwwroot}}}/local/eduvidual/pix/educloud_tiles.png" style="width: 80%; max-width: 500px;" />
    </div>
    <div style="text-align: center;">
        <a href="{{{toggleurl}}}" class="btn btn-primary {{^canactivate}}disabled{{/canactivate}}">
            {{#isactive}}
                <i class="fa fa-icon fa-toggle-on" style="font-size: 18px;"></i>
                {{#str}} disable {{/str}}
            {{/isactive}}
            {{^isactive}}
                <i class="fa fa-icon fa-toggle-off" style="font-size: 18px;"></i>
                {{#str}} enable{{/str}}
            {{/isactive}}
        </a>
        {{^canactivate}}
            <br />
            <small>
                Nur eduvidual.at-Administrator/innen<br />
                können diese Funktion steuern.<br />
                Bitte wenden Sie sich an den<br />
                <a href="mailto:support@lernmanagement.at?subject=eduCloud">
                    ZLM-Support
                </a>.
            </small>
        {{/canactivate}}
    </div>
</div>
