{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}


<div id="{{ uniqid }}-tab-container">
    <ul role="tablist" class="nav nav-tabs">
		{{# actions }}
			<li class="nav-item">
				<a class="nav-link{{#selected}} active{{/selected}}" href="{{{url}}}">{{{ localized }}}</a>
			</li>
		{{/ actions }}
	</ul>
</div>


<div class="ui-eduvidual__ local_eduvidual_manage_user-wrapper">
    <ul class="nav nav-tabs mb-3 toggle-controller-{{uniqid}}">
        <li class="nav-item">
            <a href="#" onclick="var a = this; require(['local_eduvidual/main'], function(M) { M.toggle('{{uniqid}}', a, $(a).attr('data-toggle'));} ); return false;" data-toggle="manageusers" class="nav-link">
                {{#str}} manage:users:title, local_eduvidual {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a href="#" onclick="var a = this; require(['local_eduvidual/main'], function(M) { M.toggle('{{uniqid}}', a, $(a).attr('data-toggle'));} ); return false;" data-toggle="adduserexcel" class="nav-link">
                {{#str}} manage:createuserspreadsheet, local_eduvidual {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a href="#" onclick="var a = this; require(['local_eduvidual/main'], function(M) { M.toggle('{{uniqid}}', a, $(a).attr('data-toggle'));} ); return false;" data-toggle="addusercode" class="nav-link">
                {{#str}} manage:adduser, local_eduvidual {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a href="#" onclick="var a = this; require(['local_eduvidual/main'], function(M) { M.toggle('{{uniqid}}', a, $(a).attr('data-toggle'));} ); return false;" data-toggle="adduseranonymous" class="nav-link">
                {{#str}} manage:createuseranonymous, local_eduvidual {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a href="#" onclick="var a = this; require(['local_eduvidual/main'], function(M) { M.toggle('{{uniqid}}', a, $(a).attr('data-toggle'));} ); return false;" data-toggle="managementors" class="nav-link">
                {{#str}} manage:addparent, local_eduvidual {{/str}}
            </a>
        </li>
        <li class="nav-item">
            <a href="#" onclick="var a = this; require(['local_eduvidual/main'], function(M) { M.toggle('{{uniqid}}', a, $(a).attr('data-toggle'));} ); return false;" data-toggle="accesscodes" class="nav-link">
                {{#str}} manage:accesscodes, local_eduvidual {{/str}}
            </a>
        </li>
    </ul>

    <div id="{{uniqid}}-manageusers" class="hidden card {{uniqid}}-card" style="padding: 12px;">
        <h3>{{#str}} manage:users:title, local_eduvidual {{/str}}</h3>
        <p>{{#str}} manage:users:description, local_eduvidual, { "wwwroot": {{#quote}}{{wwwroot}}{{/quote}}, "orgid": {{#quote}}{{orgid}}{{/quote}} } {{/str}}</p>

        <div class="grid-eq-2">
            <fieldset style="border-right: 1px solid darkgray; padding-right: 2px;">
            	<!-- <legend>{{#str}} manage:users:searchforuser, local_eduvidual {{/str}}</legend> -->
            	<input type="text" id="local_eduvidual_manage_setuserrole_search" class="btn-block"
                    onkeyup="require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.setuserrole_search(); } );" />
            	<select id="local_eduvidual_manage_setuserrole_user" style="width: 100%;"
                    onchange_="document.getElementById('local_eduvidual_manage_setuserrole_lbl').innerHTML = this.options[this.selectedIndex].innerHTML;document.getElementById('local_eduvidual_manage_setuserrole').value = this.value;"
                    size="10" data-role="none" multiple="multiple">
            		<option value="">{{#str}} manage:users:searchforuser, local_eduvidual {{/str}}</option>
            	</select>
            </fieldset>
            <fieldset>
            	<!-- <legend>{{#str}} manage:users:setrole, local_eduvidual {{/str}}</legend> -->
            	<select id="local_eduvidual_manage_setuserrole_role" style="width: 100%; margin-bottom: 2px;">
                    <option value="remove">{{#str}} role:Remove, local_eduvidual {{/str}}</option>
                    <option value="Parent">{{#str}} role:Parent, local_eduvidual {{/str}}</option>
            		<option value="Student" selected="selected">{{#str}} role:Student, local_eduvidual {{/str}}</option>
            		<option value="Teacher">{{#str}} role:Teacher, local_eduvidual {{/str}}</option>
            		<option value="Manager">{{#str}} role:Manager, local_eduvidual {{/str}}</option>
            	</select>
            	<input type="button" value="{{#str}} manage:users:setrole, local_eduvidual {{/str}}" class="btn btn-primary btn-block"
                    onclick="require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.setuserrole(); });" />
                <hr />
                <input type="button" value="{{#str}} manage:users:setpwreset, local_eduvidual {{/str}}" class="btn btn-primary btn-block"
                    onclick="require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.setpwreset(); });" />
                <p><small>{{#str}} manage:users:setpwreset:description, local_eduvidual {{/str}}</small></p>
            </fieldset>
        </div>
    </div>

    <div id="{{uniqid}}-adduserexcel" class="hidden card {{uniqid}}-card" style="padding: 12px;">
        <h3>{{#str}} manage:createuserspreadsheet, local_eduvidual {{/str}}</h3>
        <div class="grid-eq-2">
            <div style="border-right: 1px solid darkgray; padding-right: 2px;">
                <p>{{#str}} manage:createuserspreadsheet:import:description, local_eduvidual, { "urlspreadsheet": {{#quote}}{{urlspreadsheet}}{{/quote}}, "wwwroot": {{#quote}}{{wwwroot}}{{/quote}}, "orgid": {{#quote}}{{orgid}}{{/quote}} } {{/str}}</p>
            </div>
            <div>
                <form action="" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="act" value="users" />
                    <input type="hidden" name="orgid" value="{{orgid}}" />
                    <input type="hidden" name="import" value="1" />
                    <input type="file" name="local_eduvidual_manage_usersimport" class="btn" />
                    <input type="submit" value="{{#str}} upload {{/str}}"  class="btn btn-primary btn-block" />
                </form>
            </div>
        </div>
    </div>

    <div id="{{uniqid}}-addusercode" class="hidden card {{uniqid}}-card" style="padding: 12px;">
        <div class="grid-eq-2">
            <div style="border-right: 1px solid darkgray; padding-right: 2px;">
                <h3>{{#str}} manage:adduser, local_eduvidual {{/str}}</h3>
                <p>{{#str}} manage:adduser:description, local_eduvidual {{/str}}</p>
            </div>
            <div>
                <label for="local_eduvidual_manage_adduser_role">{{#str}} manage:accesscodes:role, local_eduvidual {{/str}}</label>
                <select id="local_eduvidual_manage_adduser_role" style="width: 100%;">
                    <option value="Parent">{{#str}} role:Parent, local_eduvidual {{/str}}</option>
                    <option value="Student">{{#str}} role:Student, local_eduvidual {{/str}}</option>
                    <option value="Teacher">{{#str}} role:Teacher, local_eduvidual {{/str}}</option>
                    <option value="Manager">{{#str}} role:Manager, local_eduvidual {{/str}}</option>
                </select>
                <label for="local_eduvidual_manage_adduser">{{#str}} manage:users:entersecrets, local_eduvidual {{/str}}</label>
                <input type="text" id="local_eduvidual_manage_adduser" placeholder="{{#str}} manage:users:entersecrets, local_eduvidual {{/str}}" data-orgid="{{orgid}}" style="width: 100%;" />
                <input type="button" value="{{#str}} manage:adduser, local_eduvidual {{/str}}" class="btn btn-primary btn-block"
                    onclick="require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.addUser(); });"/>
            </div>
        </div>
        <!--
        <div style="text-align: center;">
            <img src="{{wwwroot}}/local/eduvidual/pix/example_accesscard.png" alt="Example Accesscard" style="width: 500px; max-width: 90%;" />
        </div>
        -->
    </div>
    <div id="{{uniqid}}-adduseranonymous" class="hidden card {{uniqid}}-card" style="padding: 12px;">
        <div class="grid-eq-2">
            <div style="border-right: 1px solid darkgray; padding-right: 2px;">
                <h3>{{#str}} manage:createuseranonymous, local_eduvidual {{/str}}</h3>
                <p>{{#str}} manage:createuseranonymous:description, local_eduvidual {{/str}}</p>
                <p id="local_eduvidual_manage_createuseranonymous_success" class="alert alert-success" style="display: none;">
                    <span></span>{{#str}} manage:createuseranonymous:success, local_eduvidual {{/str}}
                    <a class="btn btn-primary" href="{{wwwroot}}/local/eduvidual/pages/manage_userlists.php?orgid={{orgid}}">
                        {{#str}} manage:users:printcards, local_eduvidual {{/str}}
                    </a>
                </p>
                <p id="local_eduvidual_manage_createuseranonymous_failed" class="alert alert-danger" style="display: none;">
                    <span></span>{{#str}} manage:createuseranonymous:failed, local_eduvidual {{/str}}
                </p>
            </div>
            <div>
                <input type="hidden" id="local_eduvidual_manage_createuseranonymous_orgid" value="{{orgid}}" />
                <label for="local_eduvidual_manage_createuseranonymous_role">{{#str}} manage:createuseranonymous:role, local_eduvidual {{/str}}</label>
                <select id="local_eduvidual_manage_createuseranonymous_role" style="width: 100%;">
                    <option value="Parent">{{#str}} role:Parent, local_eduvidual {{/str}}</option>
                    <option value="Student">{{#str}} role:Student, local_eduvidual {{/str}}</option>
                    <option value="Teacher">{{#str}} role:Teacher, local_eduvidual {{/str}}</option>
                    <option value="Manager">{{#str}} role:Manager, local_eduvidual {{/str}}</option>
                </select>
                <label for="local_eduvidual_manage_createuseranonymous_cohorts">{{#str}} cohorts, cohort {{/str}}</label>
                <input type="text" id="local_eduvidual_manage_createuseranonymous_cohorts" placeholder="{{#str}} cohorts, cohort {{/str}}" style="width: 100%;" />

                <label for="local_eduvidual_manage_createuseranonymous_amount">{{#str}} manage:createuseranonymous:amount, local_eduvidual {{/str}}</label>
                <input type="number" id="local_eduvidual_manage_createuseranonymous_amount" min="1" max="99" style="width: 100%;" />

                <input type="button" id="local_eduvidual_manage_createuseranonymous_btn" value="{{#str}} manage:createuseranonymous, local_eduvidual {{/str}}" class="btn btn-primary btn-block"
                    onclick="require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.addUserAnonymous(); });"/>
            </div>
        </div>
    </div>
    <div id="{{uniqid}}-managementors" class="hidden card {{uniqid}}-card" style="padding: 12px;">
        <p class="alert alert-info">{{#str}} manage:addparent:warning, local_eduvidual {{/str}}</p>
        <div class="grid-eq-2">
            <div style="border-right: 1px solid darkgray; padding-right: 2px;">
                <h3>{{#str}} manage:addparent, local_eduvidual {{/str}}</h3>
                <p>{{#str}} manage:addparent:description, local_eduvidual {{/str}}</p>
            </div>
            <div>
                <input type="text" id="local_eduvidual_manage_addparent_studentfilter"
                    data-orgid="{{orgid}}"
                    placeholder="{{#str}} manage:addparent:studentfilter, local_eduvidual {{/str}}"
                    onkeyup="var inp = this; require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.addParentFilter('student', inp); });"
                     />
                <select id="local_eduvidual_manage_addparent_student" style="width: 100%;"
                    onchange="require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.addParentSelectStudent(); });">
                    <option value="">{{#str}} manage:addparent:studentfilter:init, local_eduvidual {{/str}}</option>
                </select>
                <input type="text" id="local_eduvidual_manage_addparent_parentfilter"
                    placeholder="{{#str}} manage:addparent:parentfilter, local_eduvidual {{/str}}"
                    onkeyup="var inp = this; require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.addParentFilter('parent', inp); });" />
                <select id="local_eduvidual_manage_addparent_parent" style="width: 100%;">
                    <option value="">{{#str}} manage:addparent:parentfilter:init, local_eduvidual {{/str}}</option>
                </select>
                <input type="button" value="{{#str}} manage:addparent:changestate, local_eduvidual {{/str}}" class="btn btn-primary btn-block"
                    onclick="var inp = this; require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.addParent(inp); });" />
            </div>
        </div>
    </div>
    <div id="{{uniqid}}-accesscodes" class="hidden card {{uniqid}}-card" style="padding: 12px;">
        <h3>{{#str}} manage:accesscodes, local_eduvidual {{/str}}</h3>
        <p>{{#str}} manage:accesscodes:description, local_eduvidual, { "wwwroot": "{{{wwwroot}}}"} {{/str}}</p>
        <div class="grid-eq-2">
            <div style="border-right: 1px solid darkgray; padding-right: 2px;">
                <h4>{{#str}} manage:accesscodes:create, local_eduvidual {{/str}}</h4>
                <table class="generaltable">
                    <tr>
                        <th>
                            <label for="local_eduvidual_manage_accesscode_code">{{#str}} manage:accesscodes:code, local_eduvidual {{/str}}</label>
                        </th>
                        <td>
                            <input type="text" id="local_eduvidual_manage_accesscode_code" placeholder="{{#str}} manage:accesscodes:code, local_eduvidual {{/str}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="local_eduvidual_manage_accesscode_maturity">{{#str}} manage:accesscodes:maturity, local_eduvidual {{/str}}</label>
                        </th>
                        <td>
                            <input type="text" id="local_eduvidual_manage_accesscode_maturity" placeholder="YYYY-mm-dd HH:ii:ss" value="{{yyyymmddhhiiss}}" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label for="local_eduvidual_manage_accesscode_role">{{#str}} manage:accesscodes:role, local_eduvidual {{/str}}</label>
                        </th>
                        <td>
                            <select id="local_eduvidual_manage_accesscode_role">
                                <option value="Student">{{#str}} role:Student, local_eduvidual {{/str}}</option>
                                <option value="Teacher">{{#str}} role:Teacher, local_eduvidual {{/str}}</option>
                                <option value="Manager">{{#str}} role:Manager, local_eduvidual {{/str}}</option>
                                <option value="Parent">{{#str}} role:Parent, local_eduvidual {{/str}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="button" id="local_eduvidual_manage_accesscode_btn" class="btn btn-primary btn-block" value="{{#str}} save {{/str}}"
                                onclick="require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.createAccesscode(); });" />
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h4>{{#str}} manage:accesscodes:list, local_eduvidual {{/str}}</h4>
                {{^codes_amount}}
                    <p class="alert alert-info">{{#str}} none {{/str}}</p>
                {{/codes_amount}}
                {{#codes_amount}}
                    <table border="0">
                        <tr>
                            <th width="30">{{#str}} manage:accesscodes:issuer:short, local_eduvidual {{/str}}</th>
                            <th>{{#str}} manage:accesscodes:code, local_eduvidual {{/str}}</th>
                            <th>{{#str}} manage:accesscodes:role, local_eduvidual {{/str}}</th>
                            <th>{{#str}} manage:accesscodes:maturity:short, local_eduvidual {{/str}}</th>
                            <th width="30">{{#str}} manage:accesscodes:revoke, local_eduvidual {{/str}}</th>
                        </tr>
                        {{#codes}}
                            <tr{{^isvalid}} class="mature" {{/isvalid}}>
                                <td>
                                    {{{issuerpicture}}}
                                </td>
                                <td>{{code}}</td>
                                <td>{{role_localized}}</td>
                                <td>{{#userdate}} {{maturity}}, %Y-%m-%d %H:%M {{/userdate}}</td>
                                <td align="center">
                                    {{#isvalid}}
                                    <a href="#" onclick="require(['local_eduvidual/manager'], function(MANAGER) { MANAGER.revokeAccesscode({{id}}); }); return false;">
                                        <img src="/pix/i/delete.svg" alt="{{#str}} manage:accesscodes:revoke, local_eduvidual {{/str}}" width="30" />
                                    </a>
                                    {{/isvalid}}
                                </td>
                            </tr>
                        {{/codes}}
                    </table>
                {{/codes_amount}}
            </div>
        </div>
    </div>
</div>

{{#js}}
var tab = '{{tab}}';
if (tab != '') {
    var a = $('.toggle-controller-{{uniqid}}').find('[data-toggle="{{tab}}"]');
    require(['local_eduvidual/main'], function(M) { M.toggle('{{uniqid}}', a, tab);} );
}
{{/js}}
