{
  "customize": {
    "name": {
      "type": "text",
      "label": "{{lang:title}}",
      "required": true,
      "default": "{{name}}"
    },
    "intro": {
      "type": "memo",
      "label": "{{lang:description}}",
      "required": false,
      "default": "{{description}}"
    }
  },
  "defaults": {
    "showtitlelaunch": 1,
    "showdescriptionlaunch": 1,
    "typeid": 0,
    "toolurl": "{{toolurl}}",
    "securetoolurl": "{{securetoolurl}}",
    "launchcontainer": 4,
    "resourcekey": "{{resourcekey}}",
    "password": "{{secret}}",
    "instructorcustomparameters": "",
    "icon": "{{iconurl}}",
    "secureicon": "{{secureiconurl}}",
    "instructorchoicesendname": 1,
    "instructorchoicesendemailaddr": 1,
    "instructorchoiceacceptgrades": 1,
    "grade": {
      "modgrade_type": "point",
      "modgrade_point": 100
    },
    "visible": 1,
    "completion": 2,
    "completionusegrade": 1
  }
}
