 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}

<p>{{#str}} user:merge_accounts:description, local_eduvidual {{/str}}</p>

<form action="" enctype="multipart/form-data" method="POST">
<ul data-role="listview">
    {{#users}}
    <li>
        <label>
            <input type="radio" name="user_keep" value="{{id}}" />
            {{username}}: {{loginhint}}
        </label>
    </li>
    {{/users}}
</ul>

<input class="ui-btn btn btn-primary" type="submit" value="{{#str}} user:merge_accounts:merge, local_eduvidual {{/str}}" onclick="require(['jquery'], function($) { $('.spinner-grid').addClass('show'); });" />
<input class="ui-btn btn btn-secondary" type="button" onclick="top.location.href = '{{dashboard}}';" value="{{#str}} user:merge_accounts:cancel, local_eduvidual {{/str}}" />
</form>
